[submodule "external/juce"]
	path = external/juce
	url = https://github.com/juce-framework/JUCE.git
[submodule "external/JUCE_ARA"]
	path = external/JUCE_ARA
	url = https://github.com/Celemony/JUCE_ARA.git
